body {
  font-size: 15px;
  font-family: 'Inter';
  background-color:hsl(233, 47%, 7%);
  letter-spacing: 0.15rem;
}

.container{
  height: 35rem;
  width: 90rem;
  background-color: hsl(244, 38%, 16%);
  color: aliceblue;
  margin: auto;
  position: relative;
  top: 15rem;
  display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* text styling */
.text-container{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 3rem;
}

/* title styles */
.main-title{
  font-size: 3rem;
  margin: 2rem 1.5rem;
  font-weight: 700;
}

mark{
  background-color: hsl(244, 38%, 16%);
  color: hsl(277, 64%, 61%);
}

/* description styling */
.description{
  font-size: 1.2rem;
  margin: 2rem 1.5rem;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 2rem;
}

/* stats styling */
.stats{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 1.7rem;
    text-transform: uppercase;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
}

h2{
  font-size: 2rem;
  font-weight: 700;
  color: aliceblue;
}

/* image styling */

.image-container{
  content: url('./images/image-header-desktop.jpg');
  width: 100%;
  height: 560px;
}

@media (max-width:400px) {

  body{
    font-size: 15px;
    text-align: center;
  }

  .container{
    width: 100%;
    height: 70%;
    top: 5rem;
    bottom: 5rem;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 300px 1fr;
  }

  .text-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 1rem;
  }

  .main-title{
     font-size: 2rem;
     /* margin: 2rem 1.5rem; */
     font-weight: 700;
  }

  .stats{
    grid-template-columns:repeat(1, 1fr);
  }
  .image-container {
    content: url('./images/image-header-desktop.jpg');
    width: 100%;
    max-height: 100%;
    grid-row: 1;
    border-radius:0.5rem;
  }

}
